$_large_font_size: 16px;
$_tablet_padding: 40px;
$_desktop_padding: 60px;

*,
*:focus{outline: none}

.heading {
  color: var(--primary);
  padding-bottom: 15px;
}

.container {
  overflow-y: hidden;
  width: 100%;
  min-height: 100vh;
  padding: 25px 0px;
}

.signUpContainer {
  flex: 1;
}

.signUp {
  border-color: grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples
}

.container,
.signUpContainer,
.signUpForm,
.signUp,
.formItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signUpForm {
  gap: 15px;
}

.formItem {
  position: relative;
}

.formItem input {
  width: auto;
  background: transparent;
  border: solid 2px #ccc;
  transition: all .3s ease;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Figtree-Regular';
  border-width: 2px;
  font-size: $_large_font_size;
}

.formItem input:focus {
  border-color: var(--primary);
}

.formItem label {
  display: none;
}

.formItem span, span {
  color: var(--warning);
  font-family: 'Figtree-Regular';
  font-size: $_large_font_size;
  margin-left: 5px;
  padding-top: 5px;
  text-align: start;
}

.errorMessage {
  text-align: center;
  font-size: $_large_font_size;
}

// https://codepen.io/kod101/pen/gdjPaW
.formItem input:focus + label,
.formItem input:valid + label {
  display: block;
  position: absolute;
  font-size: $_large_font_size;
  font-weight: bold;
  top: -8px;
  left: 10px;
  font-family: 'Figtree-Regular';
  background: #fff;
  color: var(--primary);
}

.formItem input:focus::placeholder {
  color: transparent;
}

.formItem input:focus + label {
  color: var(--primary);
}

/* Mobile view */ 
@media only screen and (max-width: 767px) {
  .signUp {
    box-shadow: none;
  }

  .formItem input {
    padding: 10px;
  }

  .formItem input, span {
    width: 245px;
  }

  @media (max-width: 414px) {
    .formItem input, span {
      width: 270px;
    }
  }

  @media (min-width: 415px) {
    .formItem input, span {
      width: 370px;
    }
  }
}

/* Tablet and desktop view */
@media only screen and (min-width: 768px) {
  .signUpForm {
    padding: 0px;
  }
  
  .signUp {
    padding: 40px 80px;
  }

  .formItem input, span {
    width: 480px;
  }
  
  @media (min-width: 1024px) {
    .heading {
      padding-bottom: 30px;
    }
  
    .formItem input, span {
      width: 500px;
    }
  }
}