$_large_font_size: 16px;
$_tablet_padding: 40px;
$_desktop_padding: 60px;

*,
*:focus{outline: none}

.heading {
  color: var(--primary);
}

.signUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 10px;
}

.signUp {
  border-color: grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.formItem {
  position: relative;
  display: flex;
  flex-direction: column;
}

.formItem input {
  width: 400px;
  background: transparent;
  border: solid 2px #ccc;
  transition: all .3s ease;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Figtree-Regular';
  font-size: $_large_font_size;
  border-width: 3px;
}

.formItem input:focus {
  border-color: var(--primary);
}

.formItem label {
  display: none;
}

.formItem span, span {
  color: var(--warning);
  font-family: 'Figtree-Regular';
  font-size: $_large_font_size;
  margin-left: 5px;
  padding-top: 5px;
  text-align: start;
}

// https://codepen.io/kod101/pen/gdjPaW
.formItem input:focus + label,
.formItem input:valid + label {
  display: block;
  position: absolute;
  font-size: $_large_font_size;
  font-weight: bold;
  top: -8px;
  left: 10px;
  font-family: 'Figtree-Regular';
  background: #fff;
  color: var(--primary);
}

.errorMessage {
  text-align: center;
  font-size: $_large_font_size;
}

.formItem input:focus::placeholder {
  color: transparent;
}

.formItem input:focus + label {
  color: var(--primary);
}

/* Mobile view */ 
@media only screen and (max-width: 767px) {
  .signUp {
    box-shadow: none;
  }

  .formItem input {
    padding: 15px;
  }

  .formItem input, span {
    width: 245px;
  }
}

/* Specific mobile media queries */
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .formItem input, span {
    width: 270px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 767px) {
  .signUpContainer {
    gap: 10px;
  }
  
  .signUpForm {
    gap: 15px;
  }

  .formItem input {
    width: 390px;
  }
}
/* End */

/* Tablet and desktop view */
@media only screen and (min-width: 768px) {
  .signUpContainer {
    gap: 20px;
    padding-top: 20px;
  }

  .signUp {
    padding: 50px 80px;
   }

  .signUpForm {
    padding: 0px;
  }
}

/* Specific tablet and desktop media queries */
@media only screen and (min-width: 768px) and (max-width: 911px) {
  .signUp {
    padding: 50px 70px;
  }
  
  .formItem input, span {
    width: 450px;
  }
}

@media only screen and (min-width: 912px) and (max-width: 1023px) {  
  .formItem input, span {
    width: 480px;
  }
}

@media only screen and (min-width: 1024px) {
  .signUpContainer {
    padding-bottom: 35px;
  }

  .formItem input, span {
    width: 500px;
  }
}
/* End */
