.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.login {
  border-color: grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples
  padding-bottom: 20px;
  width: 500px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
  align-items: center;
  padding-bottom: 25px;
}

.loginForm > input {
  padding: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  border-style: solid;
  font-family: 'Figtree-Regular';
  font-size: 16px;
}

/* Mobile view */
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .login {
    box-shadow: none;
  }
}

/*Destop view */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .login {
    width: 650px;
    height: 350px;
    padding: 30px 20px 45px 20px;
  }

  .loginForm > input {
    padding: 25px;
    width: 100%;
    max-width: 450px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .login {
    width: 650px;
    height: 350px;
    padding: 30px 20px 65px 20px;
  }

  .loginForm > input {
    padding: 30px;
    width: 100%;
    max-width: 450px;
    font-size: 20px;
  }
}