.expandableItems {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.expandedItemGroup {
  display: flex;
  font-family: 'Figtree-Regular';
}

.expandMoreIcon, .expandLessIcon {
  transform: scale(1.0);
  color: var(--dark-grey);
  cursor: pointer;
  @media (min-width: 1280px) {
    margin-top: 3px;
    margin-left: 3px;
    transform: scale(1.1);
  }
}
