.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: calc(100vh - 65px);
  padding: 30px 0px 65px 0px;
  @media (min-width: 540px) and (max-width: 819px) {
    padding: 50px 40px;
  }
  @media (min-width: 820px) and (max-width: 960px) {
    padding: 50px 70px;
  }
  @media (min-width: 961px) and (max-width: 1500px) {
    padding: 50px 90px;
  }
  @media (min-width: 1501px) and (max-width: 1860px) {
    padding: 50px 200px;
  }
  @media (min-width: 1861px) and (max-width: 2240px) {
    padding: 50px 300px;
  }
  @media (min-width: 2241px) {
    padding: 50px 400px;
  }
}

.container {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 0px 1fr 0px;
  color: var(--dark-grey);
  width: 100%;
}

.editWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.editContainer {
  display: flex;
  flex-direction: row;
  z-index: 1;
  cursor: pointer;
  margin-top: -20px;
  & .editIcon {
    color: var(--dark-grey);
    margin-top: 10px;
    margin-left: 10px;
  }
  & .editLink {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark-grey);
    font-family: "Figtree-Semibold";
    font-size: var(--large);
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.editContainer:hover,
.editContainer:focus {
  & .editLink {
    color: var(--secondary);
  }
  & .editIcon {
    color: var(--secondary);
  }
}

.profileWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 601px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  @media (max-width: 600px) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  & .profilePhoto {
    position: relative;
    width: 250px;
    clip-path: circle(50%);
    @media (max-width: 600px) {
      width: 170px;
    }
    @media (min-width: 601px) and (max-width: 1024px) {
      width: 200px;
    }
    & img {
      width: 100%;
      height: 100%;
      clip-path: circle(50%);
    }
  }
}

.profilePhotoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey);
  z-index: 1;
  clip-path: circle(45%);
  width: 45px;
  height: 45px;
  margin-left: -50px;
  margin-top: 5px;
  & .editIcon {
    color: white;
    margin-top: -5px;
    margin-right: -3px;
    transform: scale(1.3);
  }
  & label {
    margin: 0;
  }
  @media (min-width: 601px) and (max-width: 1024px) {
    width: 60px;
    height: 60px;
    margin-left: -60px;
  }
  @media (min-width: 1025px) {
    width: 70px;
    height: 70px;
    margin-left: -80px;
  }
}

.overlay:hover,
.overlay:focus {
  cursor: pointer;
}

.profilePhoto:hover + .profilePhotoButton {
  background-color: var(--secondary);
}

.profilePhotoButton:hover {
  background-color: var(--secondary);
}

.profilePhotoButton {
  cursor: pointer;
  & label {
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0000009f;
  clip-path: circle(50%);
}

.profilePhoto:hover .overlay {
  opacity: 1;
}

.editProfilePhotoText {
  color: white;
  text-transform: uppercase;
  font-family: "Figtree-Semibold";
  font-size: var(--large);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.username {
  padding: 25px;
}

.accountInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  height: fit-content;
  gap: 20px;
  width: 100%;
  @media (max-width: 539px) {
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 15px;
    border: none;
    border-top: solid 3px var(--light-grey);
  }
  @media (max-width: 912px) {
    flex-direction: column;
  }
  & .accountForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    & .editInputWrapper {
      width: 100%;
    }
  }
  & .inputWrapper {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  & .editInputWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    @media (min-width: 1024px) {
      width: 350px;
    }
    & input {
      border: solid 2px #ccc;
    }
  }
  & .editInputWrapper:focus-within {
    & input {
      border-color: var(--dark-grey);
    }
  }
  & .formItem {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    & input {
      width: 100%;
      background: transparent;
      padding: 15px;
      font-family: "Figtree-Regular";
      border-width: 2px;

      font-size: var(--large);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 55px;
    }
    & label {
      display: block;
      position: absolute;
      font-size: var(--large);
      font-weight: bold;
      top: -25px;
      left: 10px;
      font-family: "Figtree-Regular";
      background: #fff;
      color: var(--dark-grey);
    }
    & span {
      color: var(--warning);
      font-family: "Figtree-Regular";
      font-size: var(--large);
      margin-left: 5px;
      padding-top: 5px;
      text-align: start;
      width: 100%;
    }
  }
}

.userInfoContainer {
  width: 100%;
  @media (max-width: 600px) {
    padding: 20px 20px 0px 20px;
  }
  @media (min-width: 540px) {
    padding: 20px;
    border: solid 3px var(--light-grey);
  }
}

.passwordContainer {
  width: 100%;
  @media (max-width: 600px) {
    padding: 0 20px;
  }
  @media (min-width: 540px) {
    padding: 20px;
    border: solid 3px var(--light-grey);
  }
}

.editPasswordContainer {
  width: 100%;
  @media (min-width: 540px) {
    border: solid 3px var(--light-grey);
  }
  @media (max-width: 912px) {
    padding-top: 10px;
  }
}

.passwordForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  & .editInputWrapper {
    width: 100%;
  }
}

.editButtonGroup {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 0;
}

.passwordButton {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
  @media (max-width: 912px) {
    justify-content: center;
  }
}

.errorMessage {
  color: var(--warning);
  font-family: "Figtree-Regular";
  font-size: var(--large);
  width: 100%;
}
