.busynessSliderContainer {
    width: 175px;
}

.busynessTitle {
    font-family: 'Figtree-SemiBold';
}

.busynessTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}