*,
*:focus{outline: none}

.heading {
  color: var(--primary);
}

.signUpContainer {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp {
  border-color: grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples
  padding: 10px;
  padding-bottom: 50px;
  width: 650px;
  min-width: 300px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 50px;
  padding-bottom: 25px;
}

.signUpForm > input {
  padding: 20px;
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  border-style: solid;
  font-family: 'Figtree-Regular';
}

.formItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formItem span {
  margin-left: 5px;
  padding-top: 5px;
}

.formItem input {
  background: transparent;
  border: solid 2px #ccc;
  transition: all .3s ease;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Figtree-Regular';
}

.formItem input:focus {
  border-color: var(--primary);
}

.formItem label {
  display: none;
}

.formItem span {
  color: var(--primary);
  font-family: 'Figtree-Regular';
  font-size: 16px;
}

// https://codepen.io/kod101/pen/gdjPaW
.formItem input:focus + label,
.formItem input:valid + label {
  display: block;
  position: absolute;
  font-size: 14px;
  top: -8px;
  left: 10px;
  font-family: 'Figtree-Regular';
  background: #fff;
}

.formItem input:focus::placeholder {
  color: transparent;
}

.formItem input:focus + label {
  color: var(--primary);
}

/* Mobile view */
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .signUp {
    box-shadow: none;
  }

  .formItem input {
    width: 245px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .signUp {
    box-shadow: none;
  }

  .formItem input {
    width: 400px;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .signUp {
    padding: 20px;
  }

  .formItem input {
    width: 400px;
  }
}


/*Destop view */
@media only screen and (min-width: 1024px) {
  .signUp {
    padding: 20px;
    width: 750px;
    padding-bottom: 45px;
  }

  .formItem input {
    width: 500px;
  }
}