$_large_font_size: 16px;
$_medium_font_size: 15px;
$_small_font_size: 14px;

*,
*:focus{outline: none}

.heading {
  color: var(--primary);
}

.signUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp {
  border-color: grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples
  padding: 10px;
  padding-bottom: 50px;
  width: 650px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.formItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important; // this is being overrided by align-items: center in .App
}

.formItem input {
  width: 400px;
  background: transparent;
  border: solid 2px #ccc;
  transition: all .3s ease;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Figtree-Regular';
  font-size: $_large_font_size;
  border-width: 3px;
}

.formItem input:focus {
  border-color: var(--primary);
}

.formItem label {
  display: none;
}

.formItem span, span {
  color: var(--warning);
  font-family: 'Figtree-Regular';
  font-size: $_large_font_size;
  margin-left: 5px;
  padding-top: 5px;
}

// https://codepen.io/kod101/pen/gdjPaW
.formItem input:focus + label,
.formItem input:valid + label {
  display: block;
  position: absolute;
  font-size: $_large_font_size;
  font-weight: bold;
  top: -8px;
  left: 10px;
  font-family: 'Figtree-Regular';
  background: #fff;
  color: var(--primary);
}

.formItem input:focus::placeholder {
  color: transparent;
}

.formItem input:focus + label {
  color: var(--primary);
}

/* Mobile view */
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .signUpContainer {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .signUp {
    box-shadow: none;
  }

  .formItem input {
    width: 245px;
  }
}


@media only screen and (min-width: 426px) and (max-width: 600px) {
  .signUpContainer {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .signUp {
    box-shadow: none;
    padding: 30px;
  }

  .formItem input {
    width: 420px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .signUpContainer {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .signUp {
    box-shadow: none;
    padding: 30px;
  }

  .formItem input {
    width: 480px;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .signUpContainer {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .signUp {
    padding: 50px;
  }

  .formItem input {
    width: 480px;
  }
}


/*Destop view */
@media only screen and (min-width: 1024px) {
  .signUpContainer {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .signUp {
    padding: 20px;
    width: 750px;
    padding-bottom: 45px;
  }

  .formItem input {
    width: 500px;
  }
}
