.button { 
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  border: none;
  font-family:'Figtree-Regular';
  font-size: 18px;
}

.primary {
  background-color: var(--primary);
  color: white;

  &:hover,
  &:focus { 
    background-color: var(--primary-dark);
    cursor: pointer;
  }
}

.secondary {
  background-color: var(--secondary);
  color: white;

  &:hover,
  &:focus { 
    background-color: var(--secondary-dark);
    cursor: pointer;
  }
}

.navbar {
  padding: 10px 10px 4px 10px;
  margin-bottom: 6px !important;
  background-color: var(--primary);
  color: white;
  width: auto;
  height: auto;
  border-radius: 0px;
  font-size: 17px;

  &:hover { 
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/*Destop view */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .primary,
  .secondary {
    padding: 20px;
    width: 175px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .primary,
  .secondary {
    padding: 20px;
    width: 190px;
    font-size: 20px;
  }
}