.button { 
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  border: none;
}

.primary {
  background-color: var(--primary);
  color: white;

  &:hover,
  &:focus { 
    background-color: var(--primary-dark);
    cursor: pointer;
  }
}

.secondary {
  background-color: var(--secondary);
  color: white;

  &:hover,
  &:focus { 
    background-color: var(--secondary-dark);
    cursor: pointer;
  }
}