.searchBarContainer {
  padding-top: 30px;
}

.searchBar, 
input {
  background-color: var(--light-grey);
  padding-left: 10px;
}

.searchBar {
  border: 2px;
  border-radius: 30px;
  padding: 6px;
  width: 850px;
  display: flex;
  justify-content: center;
  border-width: 2px;
  font-family: 'Figtree-Regular';
  font-size: 18px;

  @media (max-width: 299px) {
    width: 200px;
  }

  @media (min-width: 300px) and (max-width: 599px) {
    width: 300px;
  }

  @media (min-width: 600px) and (max-width: 819px) {
    width: 360px;
  }

  @media (min-width: 820px) and (max-width: 1349px) {
    width: 460px;
  }

  @media (min-width: 1350px) {
    width: 800px;
  }
}

.searchBarIcon {
  color: var(--dark-grey);
  transform: scale(1.4);
  margin-top: 3px;
  margin-left: 8px;
}

input {
  border: 0;
  width: 100%;
  border-radius: 30px;
  display: inline-block;
}

.searchBar input::placeholder {
  color: var(--dark-grey);
}

.clearButton {
  color: var(--dark-grey);
  transform: scale(1.2);
  cursor: pointer;
  margin-right: 5px;
}

.filterButtonWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.clearFilterButton {
  padding-right: 10px;
}
