.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 20px;
  & label {
    display: flex;
    font-size: 18px;
    color: var(--dark-grey);
  }
}

.listWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;

  input {
    cursor: pointer;
  }
}

.listWrapper input {
  width: 15px;
  margin: 15px 8px 15px 15px;
}

input[type='radio'],
input[type='checkbox'] {
  accent-color: var(--secondary);
}

.filterLabel {
  margin-top: 8px;
}
