.sliderContainer {
  width: 200px;
  @media (min-width: 1281px) {
    width: 300px;
  }
  .slider {
    color: var(--secondary);
    &.MuiSlider-mark {
      background-color: var(--secondary);
      height: 8;
      width: 1;
      &.MuiSlider-markActive {
        opacity: 1;
        background-color: #bfbfbf;
      }
    }
  }
  & span {
    font-family: "Figtree-Regular";
  }
}

.sliderTitle {
  font-family: "Figtree-SemiBold";
  font-size: var(--small-font);
  @media (min-width: 1281px) {
    font-size: var(--medium-font);
  }
  @media (min-width: 2000px) {
    font-size: var(--large-font);
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
