.sliderContainer {
    width: 200px;
    @media (min-width: 1281px) {
        width: 300px;
    }
    .slider{
        color: var(--secondary);
        &.MuiSlider-mark {
            background-color: var(--secondary);
            height: 8;
            width: 1;
            &.MuiSlider-markActive {
              opacity: 1;
              background-color: #bfbfbf;
            }
        }
    }
}

.sliderTitle {
    font-family: 'Figtree-SemiBold';
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
