.mobileFilterContainer {
    height: 200vh;
    width: 100vw;
    position: fixed;
    display: block;
    z-index: 1000;
    background-color: white;
    overflow-x: hidden;
}

body {
    // overflow-y: hidden;
}

.exploreContainer .exploreSectionContainer {
    overflow-y: hidden;
}