$_carousel_width_mobile: 100%;
$_carousel_height: 500px;

.carouselContainer {
  width: $_carousel_width_mobile;
  height: $_carousel_height;
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}

.carousel {
  height: $_carousel_height;
  width: $_carousel_width_mobile;
}

.imageContainer {
  object-fit: cover;
  height: $_carousel_height;
  width: $_carousel_width_mobile;
}