.inputWrapper {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 100%;
}

.editInputWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  @media (min-width: 1024px) {
    width: 350px;
  }
  & input {
    border: solid 2px #ccc;
  }
}

.editInputWrapper:focus-within {
  & input {
    border-color: var(--dark-grey);
    transition: 0.3s ease;
  }
}

.buttonContainer {
  padding: 15px 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Figtree-Regular';
  font-size: var(--large-font);
  & label {
    display: block;
    position: absolute;
    font-weight: bold;
    background: #fff;
  }
}

.formSectionContainer {
  padding-top: 15px;
  & .editInputWrapper {
    width: 100%;
    padding-top: 15px;
  }
  & span {
    color: var(--warning);
    margin-left: 5px;
    padding-top: 5px;
    text-align: start;
    width: 100%;
  }
  & input {
    width: 100%;
    background: transparent;
    border: solid 2px #ccc;
    padding: 15px;
    border-radius: 10px;
    border-width: 2px;
    height: 55px;
  }
  & input:focus::placeholder {
    color: transparent;
  }
}

input:focus + label,
input:valid + label {
  display: block;
  position: absolute;
  font-weight: bold;
  top: -8px;
  left: 10px;
}

.login {
  position: relative;
  & input {
    @media (max-width: 414px) {
      width: 300px;
    }
    @media (min-width: 415px) {
      width: 370px;
    }
  }
  & label {
    display: none;
  }
  // https://codepen.io/kod101/pen/gdjPaW
  & input:focus {
    border-color: var(--secondary);
    transition: 0.3s ease;
  }
  & input:focus + label {
    color: var(--secondary);
  }
}

.account {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  & .inputWrapper input {
    border: 10px;
  }
  & label {
    top: -15px;
    left: 10px;
    color: var(--dark-grey);
  }
  & .editInputWrapper label {
    top: 5px;
  }
  & .editInputWrapper span {
    width: 100%;
    text-align: start;
  }
}

.signup {
  position: relative;
  & input, span {
    @media (max-width: 414px) {
      width: 300px;
    }
    @media (min-width: 415px) and (max-width: 600px) {
      width: 370px;
    }
    @media (min-width: 601px) {
      width: 500px;
    }
  }
  & label {
    display: none;
  }
  & input:focus {
    border-color: var(--primary);
    transition: 0.3s ease;
  }
  // https://codepen.io/kod101/pen/gdjPaW
  & input:focus + label,
  input:valid + label {
    color: var(--primary);
  }
  & input:focus + label {
    color: var(--primary);
  }  
}
