.container {
  min-height: calc(100vh - 64px);
  border-right: 2px solid var(--dark-grey); //this is temporary to see the div
}

.expandableItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 25px;
}

.expandedItemGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  font-family: 'Figtree-Regular';
}

.expandMoreIcon, .expandLessIcon {
  margin: 15px;
  margin-top: 10px;
  transform: scale(1.0);
  color: var(--dark-grey);
  cursor: pointer;
}

.filterButton {
  padding: 20px;
  width: 100%;
  color: var(--dark-grey);
  height: auto;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
}
