$_text_size: 23px;

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  font-family: 'Figtree-Regular';
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loadingSpinner {
  position: fixed;
  top: 40%;
}

.cafeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cafeInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cafeInfo img {
  width: 150px;
}

.favouriteButton {
  padding-left: 20px;
  padding-top: 20px;
  transform: scale(1.3);
  cursor: pointer;
}

.cafeTitle {
  display: flex;
  flex-direction: row;
}

.cafeName {
  font-weight: 600;
  padding-bottom: 0;
}

.priceIconGroup {
  margin-left: 10px;
}

.priceIcon {
  transform: scale(1.3);
  margin: -4px !important;
  margin-top: 8px !important;
}

.cafeHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cafeStatus label {
  font-size: $_text_size;
}

.cafeNoisinessLabel {
 padding-left: 15px;
}

.cafeImages {
  width: 100%;
  height: 800px;
}

.cafeImages img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cafeAddress p {
  font-size: $_text_size;
}