$_text_size_mobile: 18px;

.container,
.wrapper,
.cafeContainer,
.infoSection,
.cafeDetails,
.cafeInfoWrapper,
.cafeDays,
.cafeHours {
  display: flex;
  flex-direction: column;
}

.container,
.infoSection,
.cafeInfoWrapper,
.dropdown,
.cafeHours {
  width: 100%;
}

.wrapper, 
.cafeContainer {
  justify-content: center;
  align-items: center;
}

.cafeName,
.cafeInfo {
  padding: 20px;
}

.container {
  font-family: 'Figtree-Regular';
  color: var(--dark-grey);
  min-height: 100vh;
  @media (min-width: 961px) and (max-width: 1280px) {
    padding: 0px 100px;
  }
  @media (min-width: 1281px) {
    padding: 0px 150px;
  }
}

.loadingSpinner {
  position: fixed;
  top: 40%;
}

.cafeTitle {
  display: flex;
  justify-content: flex-start;
  & h1 {
    font-size: 25px;
    @media (min-width: 600px) {
      font-size: 30px;
    }
    @media (min-width: 1024px) {
      font-size: 35px;
    }
  }
  & .cafeName {
    font-weight: 600;
  }
}

.infoSection {
  justify-content: space-between;
  @media (min-width: 1280px) {
    flex-direction: row;
  }
}

.favouriteButton {
  transform: scale(1.2);
  cursor: pointer;
  color: rgb(221, 71, 71);
  padding-right: 10px;
  height: 0;
  margin-top: -10px;
}

.cafeInfoWrapper {
  @media (min-width: 961px) and (max-width: 1280px) {
    padding-right: 20px;
    width: 100%;
  }
  @media (min-width: 1281px) and (max-width: 1800px) {
    padding-right: 20px;
    width: 50%;
    padding-left: 80px;
  }
  @media (min-width: 1801px) {
    padding-right: 20px;
    width: 50%;
    padding-left: 150px;
  }
}

.cafeInfoWrapper h3 {
  font-weight: 600;
  margin: 0;
  @media (max-width: 1279px) {
    display: none;
  }
}

.cafeInfo {
  display: flex;
  justify-content: space-between;
  border-color: grey;
  border-top: solid 3px var(--light-grey);
  border-bottom: solid 3px var(--light-grey);
  width: 100%;
  height: auto;
  margin-top: 20px;
  @media (min-width: 1280px) {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples
  }
}

.cafeDetails {
  align-items: flex-start;
  padding: 0px 10px;
  width: 100%;
  gap: 10px;
  & p {
    font-size: $_text_size_mobile;
  }
  & .cafePriceLabel {
    display: flex;
    flex-direction: row;
  }
  & .labelContainer {
    display: flex;
    flex-direction: row;
    & label {
      padding-left: 10px;
    }
    & a {
      padding-left: 10px;
    }
  }  
}

.dropdown {
  display: flex;
  flex-direction: row;
  & .cafeDays {
    align-items: flex-start;
    padding-left: 15px;
  }
  & .cafeHours {
    align-items: flex-start;
    padding-left: 50px;
  }
}

.imageContainer {
  padding: 0px 20px;
  @media (max-width: 414px) {
    height: 250px;
  }
  @media (min-width: 1281px) {
    width: 50%;
    height: 100%;
  }
}