.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addCafe {
    flex: 1;
}

.addCafeForm {
    display: flex;
    flex-direction: column;
    border: solid;
    margin: 50px;
}