.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addCafeForm {
  $padding: 50px;
  display: flex;
  flex-direction: column;
  width: $padding * 10;
  padding: $padding;
}
