$_large_font_size: 20px;
$_medium_font_size: 18px;
$_tablet_padding: 40px;
$_desktop_padding: 60px;

*,
*:focus{
  outline: none
}

.loginMainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.header {
  padding-top: 35px;
}

.header,
.loginContainer,
.loginForm,
.login,
.logo,
.formItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 160px;
}

.logo > img {
  width: 100%;
  height: 100%;
  clip-path: circle(80px);
}

.login {
  border-color: grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples
  width: 500px;
  min-width: 300px;
  background-color: white;
  gap: 25px;
}

h4 {
  color: var(--secondary);
}

.loginForm {
  gap: 15px;
  padding: 40px 20px 40px 20px;
  width: 100%;
}

.login, .formItem span {
  width: 100%;
}

.formItem {
  position: relative;
}

.formItem input {
  width: auto;
  background: transparent;
  border: solid 2px #ccc;
  transition: all .3s ease;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Figtree-Regular';
  border-width: 3px;
  font-size: $_medium_font_size;
}

.formItem input:focus {
  border-color: var(--secondary);
}

.formItem label {
  display: none;
}

.formItem span {
  color: var(--warning);
  font-family: 'Figtree-Regular';
  font-size: $_medium_font_size;
  margin-left: 5px;
  padding-top: 5px;
}

.errorMessage {
  text-align: center;
  font-size: $_medium_font_size;
}

// https://codepen.io/kod101/pen/gdjPaW
.formItem input:focus + label,
.formItem input:valid + label {
  display: block;
  position: absolute;
  font-weight: bold;
  top: -8px;
  left: 10px;
  font-family: 'Figtree-Regular';
  background: #fff;
}

.formItem input:focus::placeholder {
  color: transparent;
}

.formItem input:focus + label {
  color: var(--secondary);
  font-size: $_medium_font_size;
}

p {
  font-size: $_medium_font_size;
  padding: 10px;
  margin-bottom: 0px !important;
  padding: 0px;
}

p > a {
  text-decoration: none;
  color: var(--secondary);
}

a:focus,
a:hover {
  color: var(--primary);
}

/* Mobile view */
@media only screen and (max-width: 374px) {
  .container {
    padding: 0px;
  }

  .header {
    padding: 10px;
  }

  .logo {
    padding-bottom: 10px;
  }

  .login {
    box-shadow: none;
    gap: 15px;
  }

  .loginForm {
    padding: 0px;
  }

  .formItem {
    padding: 0px;
  }

  .formItem input {
    width: 245px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .container {
    padding: 0px;
  }

  .header {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .logo {
    padding-bottom: 10px;
  }

  .login {
    box-shadow: none;
    gap: 15px;
  }

  .loginForm {
    padding: 0px;
  }

  .formItem {
    padding: 0px;
  }

  .formItem input {
    width: 280px;
  }

  .header > p {
    padding: 0px 20px 0px 20px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 767px) {
  .header {
    padding: 20px;
  }
  
  .logo {
    padding-bottom: 15px;
  }

  .login {
    box-shadow: none;
    width: 100%;
    gap: 15px;
  }

  .loginForm {
    padding: 0px 0px 0px 0px;
  }
 
  .formItem input {
    display: flex;
    width: 400px;
  }

  .header > p {
    font-size: $_medium_font_size;
    padding: 10px 70px 0px 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 911px) {
  .container {
    padding-bottom: 200px;
  }

  .header {
    padding-bottom: 20px;
  }

  .logo {
    padding-bottom: 15px;
  }
  
  .loginContainer {
    padding: 0px;
  }

  .login {
    width: 520px;
    padding: 15px;
    padding-top: $_tablet_padding;
    padding-bottom: $_tablet_padding;
    gap: 20px;
  }

  .loginForm {
    padding: 0px 0px 0px 0px;
  }

  .formItem {
    align-items: center;
  }

  .formItem input {
    width: 370px;
  }

  .formItem span {
    margin-left: 10px;
  }

  .header > p {
    font-size: $_medium_font_size;
    padding: 0px 120px 0px 120px;
  }
}

@media only screen and (min-width: 912px) and (max-width: 1023px) {
  .container {
    padding-bottom: 225px;
  }

  .header {
    padding-bottom: 30px;
  }
  .logo {
    padding-bottom: 15px;
  }

  .loginContainer {
    padding: 0px;
  }

  .login {
    width: 520px;
    padding: 25px;
    padding-top: $_tablet_padding;
    padding-bottom: $_tablet_padding;
    gap: 20px;
  }
 
  .loginForm {
    padding: 0px 0px 0px 0px;
  }

  .formItem {
    align-items: center;
  }

  .formItem input {
    width: 370px;
  }

  .formItem span {
    margin-left: 10px;
  }

  .header > p {
    font-size: $_medium_font_size;
    padding: 0px 170px 0px 170px;
  }
}

/*Destop view */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-light);
    padding: 0px 30px 170px 30px;
  }

  .header {
    padding-right: 25px;
  }

  .logo {
    padding-bottom: 15px;
  }

  .loginContainer {
    padding: 0px;
  }

  .login {
    width: 520px;
    padding: 25px;
    padding-top: $_tablet_padding;
    padding-bottom: $_tablet_padding;
    gap: 15px;
  }
 
  .loginForm {
    padding: 0px 0px 0px 0px;
  }

  .formItem {
    align-items: center;
  }

  .formItem input {
    width: 370px;
  }

  .formItem span {
    margin-left: 10px;
  }

  .header > p {
    font-size: $_medium_font_size;
    padding: 0px 15px 0px 15px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-light);
    padding: 0px 30px 170px 30px;
  }

  .header {
    padding-right: 15px;
  }

  .logo {
    padding-bottom: 15px;
  }

  .loginContainer {
    padding: 0px;
  }

  .login {
    width: 520px;
    padding: 25px;
    padding-top: $_tablet_padding;
    padding-bottom: $_tablet_padding;
    gap: 15px;
  }
 
  .loginForm {
    padding: 0px 0px 0px 0px;
  }

  .formItem {
    align-items: center;
  }

  .formItem input {
    width: 370px;
  }

  .formItem span {
    margin-left: 10px;
  }

  .header > p {
    font-size: $_medium_font_size;
    padding: 0px 40px 0px 40px;
    width: 700px;
  }
}

@media only screen and (width: 1024px) and (height: 600px) {
  .header {
    display: none;
  }
  
  .loginMainContainer {
    padding-top: 35px;
  }
}

@media only screen and (width: 1280px) and (height: 800px) {
  .logo {
    display: none;
  }

  .header {
    padding-bottom: 15px;
  }

  .loginMainContainer {
    padding-top: 35px;
  }
}
