.sliderFilterContainer {
    .slider{
        color: var(--secondary);
        &.MuiSlider-mark {
            background-color: var(--secondary);
            height: 8;
            width: 1;
            &.MuiSlider-markActive {
              opacity: 1;
              background-color: #bfbfbf;
            }
        }
    }
}