@font-face {
  font-family: 'Figtree-Regular';
  src: url('assets/fonts/Figtree-Regular.ttf');
}

@font-face { 
  font-family: 'Figtree-Bold';
  src: url('assets/fonts/Figtree-Bold.ttf');
}


body {
  margin: 0;
  font-family:'Figtree-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
